In [81]:
import pandas as pd

# Initial inspection shows that the timestamp column is Unix epoch time up to the Second granularity
dateparse = lambda timestamp: pd.to_datetime(timestamp, unit='s')

data = pd.read_csv("seq/sample.csv", 
                    index_col="timestamp",
                    date_parser=dateparse,
                    infer_datetime_format=True,
                    parse_dates=['timestamp'])

In [82]:
# View a sample of 10 rows
data.sample(10)

                     event_id  class  f1  f2   f3  ...  f26  f27  f28  f29  f30
timestamp                                          ...
2018-04-24 09:17:36    819703      0   1   1    1  ...    0    0    0    0    0
2018-09-03 15:07:13    824942      0   1   1    1  ...    0    0    0    0    0
2017-12-15 10:19:55    814722      0   1   2    3  ...    0    0    0    0    0
2018-09-11 15:10:08    825500      1   1  45  111  ...    0    0    0    0    0
2017-11-17 08:39:02    813877      0   1   1    2  ...    0    0    0    0    0
2018-08-14 14:35:02    824050      1   2   3    3  ...    0    0    0    0    0
2017-11-14 14:06:16    813755      0   1   3    3  ...    0    0    0    0    0
2017-12-19 11:12:21    814801      1   1  37  120  ...    0    0    0    0    0
2018-07-19 17:01:24    822905      1   1   8   22  ...    0    0    0    0    0
2018-09-13 08:49:44    825604      1   1   5   21  ...    0    0    0    0    0

[10 rows x 33 columns]

In [83]:
# Inspect distribution of data
data.describe()

            event_id         class            f1  ...      f28      f29      f30
count   18417.000000  18417.000000  18417.000000  ...  18417.0  18417.0  18417.0
mean   820275.000000      0.451539      1.083618  ...      0.0      0.0      0.0
std      5316.674289      0.497660      0.408374  ...      0.0      0.0      0.0
min    811067.000000      0.000000      0.000000  ...      0.0      0.0      0.0
25%    815671.000000      0.000000      1.000000  ...      0.0      0.0      0.0
50%    820275.000000      0.000000      1.000000  ...      0.0      0.0      0.0
75%    824879.000000      1.000000      1.000000  ...      0.0      0.0      0.0
max    829483.000000      1.000000      9.000000  ...      0.0      0.0      0.0

[8 rows x 33 columns]

In [86]:
# Looks like the below features only have constant 0 for all rows f11, f16, f19, f22 - f30
const_col = ["f11", "f16", "f19"] + ["f{}".format(num) for num in range(22,31)]

# dropping these cols
data.drop(columns=const_col, inplace=True, errors='ignore')

In [87]:
# Read resource dataset

res = pd.read_csv("seq/res.csv")
res.sample(10)

        event_id    res_id
577827    817427  15328352
837332    826451  15543884
660279    819373  15676460
517905    815574  15622573
673396    820269  15683279
360906    813061  15500144
491371    815050  15611669
685823    820499  15558365
457159    814773  15548465
422211    814258  15353043

In [88]:
import numpy as np

def group_res_by_event(df):
    keys, values = df.sort_values('event_id').values.T
    ukeys, index = np.unique(keys, True)
    arrays = np.split(values, index[1:])
    df2 = pd.DataFrame({'event_id':ukeys, 'res_id':[list(a) for a in arrays]})
    return df2

res_grp = group_res_by_event(res)
res_grp

       event_id                                             res_id
0        811067  [15325277, 15440054, 15440055, 15440056, 15440...
1        811068                                         [15495262]
2        811069  [15501813, 15501809, 15501812, 15501810, 15501...
3        811070  [15505228, 15505227, 15505225, 15505229, 15505...
4        811071  [15449230, 15449260, 15449270, 15449271, 15449...
...         ...                                                ...
18303    829479  [15475824, 15475827, 15475828, 15475830, 15475...
18304    829480                               [15658697, 15658696]
18305    829481  [15666344, 15632590, 15548015, 15666343, 15632...
18306    829482                     [15658538, 15695471, 15658424]
18307    829483                               [15696180, 15696181]

[18308 rows x 2 columns]

In [89]:
# Merging 2 dataset
data_w_res = data.reset_index().merge(res_grp, on="event_id", how="left").set_index("timestamp")

# Fill event with no resource an empty resource list
data_w_res['res_id'] = data_w_res['res_id'].apply(lambda d: d if isinstance(d, list) else [])

data_w_res.head(10)

                     event_id  ...                                             res_id
timestamp                      ...
2016-11-21 14:17:52    811067  ...  [15325277, 15440054, 15440055, 15440056, 15440...
2016-12-01 16:23:01    811068  ...                                         [15495262]
2016-12-02 09:14:02    811069  ...  [15501813, 15501809, 15501812, 15501810, 15501...
2016-12-02 10:18:05    811070  ...  [15505228, 15505227, 15505225, 15505229, 15505...
2016-12-02 10:18:39    811071  ...  [15449230, 15449260, 15449270, 15449271, 15449...
2016-12-02 15:35:26    811072  ...                     [15449271, 15449314, 15449270]
2016-12-02 16:58:26    811073  ...                                         [15449318]
2016-12-08 17:07:09    811074  ...                               [15449318, 15449317]
2016-12-09 13:43:08    811075  ...  [15449270, 15449271, 15449272, 15449273, 15449...
2016-12-12 13:30:33    811076  ...  [15507538, 15507547, 15507546, 15507545, 15507...

[10 rows x 22 columns]

In [90]:
y = data_w_res[["class"]]

# Verify that the index column is of datetime type
data_w_res.index

DatetimeIndex(['2016-11-21 14:17:52', '2016-12-01 16:23:01',
               '2016-12-02 09:14:02', '2016-12-02 10:18:05',
               '2016-12-02 10:18:39', '2016-12-02 15:35:26',
               '2016-12-02 16:58:26', '2016-12-08 17:07:09',
               '2016-12-09 13:43:08', '2016-12-12 13:30:33',
               ...
               '2018-11-06 13:53:39', '2018-11-06 14:06:58',
               '2018-11-06 14:09:39', '2018-11-06 14:12:27',
               '2018-11-06 14:12:42', '2018-11-06 14:15:03',
               '2018-11-06 14:16:49', '2018-11-06 14:17:33',
               '2018-11-06 14:35:56', '2018-11-06 14:36:37'],
              dtype='datetime64[ns]', name='timestamp', length=18417, freq=None)

In [95]:
# Example of all events in the year 2018
data_w_res.loc['2018']

                     event_id  ...                                             res_id
timestamp                      ...
2018-01-02 10:14:44    814967  ...                                         [15486546]
2018-01-02 10:24:31    814968  ...                                         [15562362]
2018-01-02 10:52:10    814969  ...                                         [15474689]
2018-01-02 11:01:08    814970  ...                                         [15586003]
2018-01-02 11:01:44    814971  ...  [15586006, 15586008, 15586007, 15435405, 15435...
...                       ...  ...                                                ...
2018-11-06 14:15:03    829479  ...  [15475824, 15475827, 15475828, 15475830, 15475...
2018-11-06 14:16:49    829480  ...                               [15658697, 15658696]
2018-11-06 14:17:33    829481  ...  [15666344, 15632590, 15548015, 15666343, 15632...
2018-11-06 14:35:56    829482  ...                     [15658538, 15695471, 15658424]
2018-11-06 14:36:37    829483  ...                               [15696180, 15696181]

[14517 rows x 22 columns]

In [91]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

from keras.optimizers import Adam
from keras.models import load_model
from keras.callbacks import ModelCheckpoint