<a href="https://colab.research.google.com/github/hydradon/clever-challenge/blob/master/part3_LSTM_sliding_windows_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using LSTM with sliding windows size 5

I attempted to predict an event class using information of the previous 5 events using a LSTM neural network.

However, the accuracy remains very low. I have tried tuning with different numbers of layers and layer sizes. It seems that the network cannot capture the time series pattern.

In [33]:
import pandas as pd

# Initial inspection shows that the timestamp column is Unix epoch time up to the Second granularity
dateparse = lambda timestamp: pd.to_datetime(timestamp, unit='s')

data = pd.read_csv("https://raw.githubusercontent.com/hydradon/clever-challenge/master/seq/sample.csv", 
                    index_col="timestamp",
                    date_parser=dateparse,
                    infer_datetime_format=True,
                    parse_dates=['timestamp'])

In [34]:
# Looks like the below features only have constant 0 for all rows f11, f16, f19, f22 - f30
const_col = ["f11", "f16", "f19"] + ["f{}".format(num) for num in range(22,31)]

# dropping these cols
data.drop(columns=const_col, inplace=True, errors='ignore')

data.drop(columns=["event_id"], inplace=True, errors='ignore') # Trial without using res_id
data["time_stamp"] = data.index
data.head(5)

                     class  f1     f2  ...  f20  f21          time_stamp
timestamp                              ...
2016-11-21 14:17:52      1   9  16257  ...  0.0    0 2016-11-21 14:17:52
2016-12-01 16:23:01      0   1      1  ...  0.0    0 2016-12-01 16:23:01
2016-12-02 09:14:02      1   7   1731  ...  0.0    0 2016-12-02 09:14:02
2016-12-02 10:18:05      0   1      4  ...  0.0    0 2016-12-02 10:18:05
2016-12-02 10:18:39      0   2      4  ...  0.0    0 2016-12-02 10:18:39

[5 rows x 21 columns]

In [35]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

encoder = LabelEncoder()

# scale feature columns
ft_cols = ['f1', 'f2', 'f3', 'f3.1', 'f4', 'f5', 'f6', 'f7',
            'f8', 'f9', 'f10', 'f12', 'f13', 'f14', 'f15', 
            'f17', 'f18', 'f20','f21'] # 19 features

# ensure all data is float
data[ft_cols] = data[ft_cols].astype('float32')

scaler = MinMaxScaler(feature_range=(0, 1))

data[ft_cols] = scaler.fit_transform(data[ft_cols])

In [36]:
data

                     class        f1  ...       f21          time_stamp
timestamp                             ...
2016-11-21 14:17:52      1  1.000000  ...  0.000000 2016-11-21 14:17:52
2016-12-01 16:23:01      0  0.111111  ...  0.000000 2016-12-01 16:23:01
2016-12-02 09:14:02      1  0.777778  ...  0.000000 2016-12-02 09:14:02
2016-12-02 10:18:05      0  0.111111  ...  0.000000 2016-12-02 10:18:05
2016-12-02 10:18:39      0  0.222222  ...  0.000000 2016-12-02 10:18:39
...                    ...       ...  ...       ...                 ...
2018-11-06 14:15:03      0  0.111111  ...  0.083333 2018-11-06 14:15:03
2018-11-06 14:16:49      0  0.111111  ...  0.083333 2018-11-06 14:16:49
2018-11-06 14:17:33      0  0.111111  ...  0.083333 2018-11-06 14:17:33
2018-11-06 14:35:56      0  0.111111  ...  0.083333 2018-11-06 14:35:56
2018-11-06 14:36:37      0  0.111111  ...  0.083333 2018-11-06 14:36:37

[18417 rows x 21 columns]

In [37]:
cur_d = data.drop(columns=["time_stamp", "class"]).values
cur_d_output = data["class"].values

# Making sequences of 5 events, 
# The class of the fifth one is used while 
# the features of previous events are input
x = list()
y = list()
for i in range(5, len(cur_d)):
    sub_x = cur_d[i-5 : i]
    x.append(sub_x.reshape(1, sub_x.shape[0], sub_x.shape[1]))

    sub_y = cur_d_output[i]
    y.append(sub_y)

In [38]:
import numpy as np

t_x = np.concatenate(x, axis=0)
t_y = np.array(y)
t_x.shape, t_y.shape

((18412, 5, 19), (18412,))

In [39]:
# Separate into train and test set
np.random.seed(0)
orders = np.random.permutation(np.arange(len(t_x)))
train_idx = orders[:int(0.8 * t_x.shape[0])]
test_idx = orders[int(0.8 * t_x.shape[0]):]

t_x_train = t_x[train_idx]
t_x_test = t_x[test_idx]

t_y_train = t_y[train_idx]
t_y_test = t_y[test_idx]

In [40]:
from keras.models import Sequential
from keras.layers import Dense, Activation, LSTM, Dropout
from keras.metrics import binary_accuracy
from keras.optimizers import Adam

np.random.seed(7)

model = Sequential()
model.add(LSTM(128, 
               input_shape=(t_x.shape[1], t_x.shape[2]), # Input: time step * number of features
               activation='relu'))
# model.add(Dense(128, 
#                input_dim=train_X_val.shape[1],
#                activation='relu')) 

# model.add(Dropout(0.2))


model.add(Dense(128, activation = 'relu'))
model.add(Dropout(0.2))


# Output layer with binary Classification 0 or 1
model.add(Dense(1, activation='sigmoid')) 

opt = Adam(learning_rate=3e-4)

# Compile
model.compile(loss='binary_crossentropy', 
              optimizer=opt, 
              metrics=['accuracy']) # binary_crossentropy for binary categorical label (0, 1)

print(model.summary())

WARNING:tensorflow:Layer lstm_9 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_9 (LSTM)                (None, 128)               75776
_________________________________________________________________
dense_20 (Dense)             (None, 128)               16512
_________________________________________________________________
dropout_11 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 129
=================================================================
Total params: 92,417
Trainable params: 92,417
Non-trainable params: 0
_________________________________________________________________
None

In [41]:
from keras.callbacks import ModelCheckpoint
import os

# checkpoint_path = "./part3models/training_1/cp.ckpt"
# checkpoint_dir = os.path.dirname(checkpoint_path)

# # Create a callback that saves the model's weights
# cp_callback = ModelCheckpoint(filepath=checkpoint_path,
#                               save_weights_only=True,
#                               verbose=1)

# Fitting
history = model.fit(t_x_train, t_y_train,
                    epochs=100, batch_size=512,
                    validation_data=(t_x_test, t_y_test),
                    # callbacks=[cp_callback],
                    verbose=2, shuffle=False)

Epoch 1/100
29/29 - 1s - loss: 0.6888 - accuracy: 0.5487 - val_loss: 0.6882 - val_accuracy: 0.5479
Epoch 2/100
29/29 - 0s - loss: 0.6883 - accuracy: 0.5486 - val_loss: 0.6880 - val_accuracy: 0.5479
Epoch 3/100
29/29 - 0s - loss: 0.6881 - accuracy: 0.5486 - val_loss: 0.6879 - val_accuracy: 0.5479
Epoch 4/100
29/29 - 0s - loss: 0.6879 - accuracy: 0.5486 - val_loss: 0.6877 - val_accuracy: 0.5479
Epoch 5/100
29/29 - 0s - loss: 0.6876 - accuracy: 0.5485 - val_loss: 0.6876 - val_accuracy: 0.5479
Epoch 6/100
29/29 - 0s - loss: 0.6874 - accuracy: 0.5486 - val_loss: 0.6874 - val_accuracy: 0.5471
Epoch 7/100
29/29 - 0s - loss: 0.6873 - accuracy: 0.5493 - val_loss: 0.6872 - val_accuracy: 0.5463
Epoch 8/100
29/29 - 0s - loss: 0.6868 - accuracy: 0.5496 - val_loss: 0.6870 - val_accuracy: 0.5441
Epoch 9/100
29/29 - 0s - loss: 0.6865 - accuracy: 0.5489 - val_loss: 0.6867 - val_accuracy: 0.5466
Epoch 10/100
29/29 - 0s - loss: 0.6864 - accuracy: 0.5495 - val_loss: 0.6864 - val_accuracy: 0.5479
Epoch 11/100
29/29 - 0s - loss: 0.6859 - accuracy: 0.5502 - val_loss: 0.6861 - val_accuracy: 0.5496
Epoch 12/100
29/29 - 0s - loss: 0.6855 - accuracy: 0.5512 - val_loss: 0.6858 - val_accuracy: 0.5485
Epoch 13/100
29/29 - 0s - loss: 0.6854 - accuracy: 0.5510 - val_loss: 0.6854 - val_accuracy: 0.5482
Epoch 14/100
29/29 - 0s - loss: 0.6848 - accuracy: 0.5535 - val_loss: 0.6851 - val_accuracy: 0.5463
Epoch 15/100
29/29 - 0s - loss: 0.6844 - accuracy: 0.5515 - val_loss: 0.6847 - val_accuracy: 0.5468
Epoch 16/100
29/29 - 0s - loss: 0.6841 - accuracy: 0.5522 - val_loss: 0.6843 - val_accuracy: 0.5490
Epoch 17/100
29/29 - 1s - loss: 0.6838 - accuracy: 0.5538 - val_loss: 0.6840 - val_accuracy: 0.5471
Epoch 18/100
29/29 - 0s - loss: 0.6833 - accuracy: 0.5550 - val_loss: 0.6837 - val_accuracy: 0.5490
Epoch 19/100
29/29 - 0s - loss: 0.6830 - accuracy: 0.5558 - val_loss: 0.6835 - val_accuracy: 0.5477
Epoch 20/100
29/29 - 0s - loss: 0.6827 - accuracy: 0.5577 - val_loss: 0.6832 - val_accuracy: 0.5468
Epoch 21/100
29/29 - 0s - loss: 0.6824 - accuracy: 0.5586 - val_loss: 0.6829 - val_accuracy: 0.5463
Epoch 22/100
29/29 - 0s - loss: 0.6820 - accuracy: 0.5601 - val_loss: 0.6828 - val_accuracy: 0.5449
Epoch 23/100
29/29 - 0s - loss: 0.6818 - accuracy: 0.5598 - val_loss: 0.6826 - val_accuracy: 0.5468
Epoch 24/100
29/29 - 0s - loss: 0.6816 - accuracy: 0.5582 - val_loss: 0.6824 - val_accuracy: 0.5490
Epoch 25/100
29/29 - 0s - loss: 0.6811 - accuracy: 0.5609 - val_loss: 0.6823 - val_accuracy: 0.5498
Epoch 26/100
29/29 - 0s - loss: 0.6805 - accuracy: 0.5629 - val_loss: 0.6821 - val_accuracy: 0.5509
Epoch 27/100
29/29 - 0s - loss: 0.6801 - accuracy: 0.5624 - val_loss: 0.6819 - val_accuracy: 0.5493
Epoch 28/100
29/29 - 0s - loss: 0.6801 - accuracy: 0.5609 - val_loss: 0.6818 - val_accuracy: 0.5496
Epoch 29/100
29/29 - 0s - loss: 0.6798 - accuracy: 0.5634 - val_loss: 0.6816 - val_accuracy: 0.5496
Epoch 30/100
29/29 - 0s - loss: 0.6796 - accuracy: 0.5641 - val_loss: 0.6815 - val_accuracy: 0.5501
Epoch 31/100
29/29 - 0s - loss: 0.6789 - accuracy: 0.5645 - val_loss: 0.6815 - val_accuracy: 0.5504
Epoch 32/100
29/29 - 0s - loss: 0.6788 - accuracy: 0.5644 - val_loss: 0.6814 - val_accuracy: 0.5512
Epoch 33/100
29/29 - 0s - loss: 0.6784 - accuracy: 0.5681 - val_loss: 0.6811 - val_accuracy: 0.5515
Epoch 34/100
29/29 - 0s - loss: 0.6778 - accuracy: 0.5663 - val_loss: 0.6811 - val_accuracy: 0.5512
Epoch 35/100
29/29 - 0s - loss: 0.6775 - accuracy: 0.5690 - val_loss: 0.6811 - val_accuracy: 0.5504
Epoch 36/100
29/29 - 0s - loss: 0.6772 - accuracy: 0.5689 - val_loss: 0.6808 - val_accuracy: 0.5531
Epoch 37/100
29/29 - 0s - loss: 0.6769 - accuracy: 0.5677 - val_loss: 0.6809 - val_accuracy: 0.5534
Epoch 38/100
29/29 - 0s - loss: 0.6763 - accuracy: 0.5692 - val_loss: 0.6808 - val_accuracy: 0.5558
Epoch 39/100
29/29 - 0s - loss: 0.6758 - accuracy: 0.5734 - val_loss: 0.6806 - val_accuracy: 0.5542
Epoch 40/100
29/29 - 0s - loss: 0.6754 - accuracy: 0.5732 - val_loss: 0.6807 - val_accuracy: 0.5550
Epoch 41/100
29/29 - 0s - loss: 0.6752 - accuracy: 0.5725 - val_loss: 0.6806 - val_accuracy: 0.5563
Epoch 42/100
29/29 - 0s - loss: 0.6748 - accuracy: 0.5717 - val_loss: 0.6804 - val_accuracy: 0.5553
Epoch 43/100
29/29 - 0s - loss: 0.6740 - accuracy: 0.5757 - val_loss: 0.6804 - val_accuracy: 0.5542
Epoch 44/100
29/29 - 0s - loss: 0.6739 - accuracy: 0.5746 - val_loss: 0.6801 - val_accuracy: 0.5523
Epoch 45/100
29/29 - 0s - loss: 0.6732 - accuracy: 0.5770 - val_loss: 0.6803 - val_accuracy: 0.5504
Epoch 46/100
29/29 - 0s - loss: 0.6728 - accuracy: 0.5752 - val_loss: 0.6805 - val_accuracy: 0.5536
Epoch 47/100
29/29 - 0s - loss: 0.6722 - accuracy: 0.5768 - val_loss: 0.6806 - val_accuracy: 0.5547
Epoch 48/100
29/29 - 0s - loss: 0.6717 - accuracy: 0.5777 - val_loss: 0.6805 - val_accuracy: 0.5542
Epoch 49/100
29/29 - 0s - loss: 0.6716 - accuracy: 0.5774 - val_loss: 0.6805 - val_accuracy: 0.5520
Epoch 50/100
29/29 - 0s - loss: 0.6711 - accuracy: 0.5801 - val_loss: 0.6807 - val_accuracy: 0.5550
Epoch 51/100
29/29 - 0s - loss: 0.6706 - accuracy: 0.5793 - val_loss: 0.6809 - val_accuracy: 0.5512
Epoch 52/100
29/29 - 0s - loss: 0.6702 - accuracy: 0.5794 - val_loss: 0.6809 - val_accuracy: 0.5523
Epoch 53/100
29/29 - 0s - loss: 0.6700 - accuracy: 0.5826 - val_loss: 0.6813 - val_accuracy: 0.5534
Epoch 54/100
29/29 - 0s - loss: 0.6693 - accuracy: 0.5825 - val_loss: 0.6816 - val_accuracy: 0.5520
Epoch 55/100
29/29 - 0s - loss: 0.6687 - accuracy: 0.5827 - val_loss: 0.6820 - val_accuracy: 0.5501
Epoch 56/100
29/29 - 0s - loss: 0.6689 - accuracy: 0.5830 - val_loss: 0.6824 - val_accuracy: 0.5496
Epoch 57/100
29/29 - 0s - loss: 0.6680 - accuracy: 0.5842 - val_loss: 0.6827 - val_accuracy: 0.5509
Epoch 58/100
29/29 - 0s - loss: 0.6673 - accuracy: 0.5879 - val_loss: 0.6830 - val_accuracy: 0.5487
Epoch 59/100
29/29 - 0s - loss: 0.6666 - accuracy: 0.5871 - val_loss: 0.6835 - val_accuracy: 0.5482
Epoch 60/100
29/29 - 0s - loss: 0.6667 - accuracy: 0.5855 - val_loss: 0.6840 - val_accuracy: 0.5493
Epoch 61/100
29/29 - 0s - loss: 0.6664 - accuracy: 0.5894 - val_loss: 0.6841 - val_accuracy: 0.5509
Epoch 62/100
29/29 - 0s - loss: 0.6663 - accuracy: 0.5867 - val_loss: 0.6842 - val_accuracy: 0.5490
Epoch 63/100
29/29 - 0s - loss: 0.6654 - accuracy: 0.5887 - val_loss: 0.6846 - val_accuracy: 0.5501
Epoch 64/100
29/29 - 0s - loss: 0.6657 - accuracy: 0.5888 - val_loss: 0.6847 - val_accuracy: 0.5506
Epoch 65/100
29/29 - 0s - loss: 0.6648 - accuracy: 0.5860 - val_loss: 0.6852 - val_accuracy: 0.5520
Epoch 66/100
29/29 - 0s - loss: 0.6647 - accuracy: 0.5893 - val_loss: 0.6851 - val_accuracy: 0.5534
Epoch 67/100
29/29 - 0s - loss: 0.6646 - accuracy: 0.5910 - val_loss: 0.6854 - val_accuracy: 0.5512
Epoch 68/100
29/29 - 0s - loss: 0.6641 - accuracy: 0.5913 - val_loss: 0.6858 - val_accuracy: 0.5509
Epoch 69/100
29/29 - 0s - loss: 0.6635 - accuracy: 0.5909 - val_loss: 0.6867 - val_accuracy: 0.5539
Epoch 70/100
29/29 - 0s - loss: 0.6633 - accuracy: 0.5916 - val_loss: 0.6866 - val_accuracy: 0.5528
Epoch 71/100
29/29 - 0s - loss: 0.6628 - accuracy: 0.5950 - val_loss: 0.6871 - val_accuracy: 0.5539
Epoch 72/100
29/29 - 0s - loss: 0.6626 - accuracy: 0.5943 - val_loss: 0.6874 - val_accuracy: 0.5528
Epoch 73/100
29/29 - 0s - loss: 0.6624 - accuracy: 0.5937 - val_loss: 0.6874 - val_accuracy: 0.5536
Epoch 74/100
29/29 - 0s - loss: 0.6619 - accuracy: 0.5940 - val_loss: 0.6887 - val_accuracy: 0.5496
Epoch 75/100
29/29 - 0s - loss: 0.6615 - accuracy: 0.5956 - val_loss: 0.6883 - val_accuracy: 0.5528
Epoch 76/100
29/29 - 0s - loss: 0.6615 - accuracy: 0.5950 - val_loss: 0.6894 - val_accuracy: 0.5528
Epoch 77/100
29/29 - 0s - loss: 0.6609 - accuracy: 0.5954 - val_loss: 0.6898 - val_accuracy: 0.5496
Epoch 78/100
29/29 - 0s - loss: 0.6608 - accuracy: 0.5980 - val_loss: 0.6899 - val_accuracy: 0.5531
Epoch 79/100
29/29 - 0s - loss: 0.6603 - accuracy: 0.5970 - val_loss: 0.6897 - val_accuracy: 0.5531
Epoch 80/100
29/29 - 0s - loss: 0.6602 - accuracy: 0.5966 - val_loss: 0.6907 - val_accuracy: 0.5555
Epoch 81/100
29/29 - 0s - loss: 0.6597 - accuracy: 0.5979 - val_loss: 0.6908 - val_accuracy: 0.5520
Epoch 82/100
29/29 - 0s - loss: 0.6595 - accuracy: 0.5982 - val_loss: 0.6911 - val_accuracy: 0.5542
Epoch 83/100
29/29 - 0s - loss: 0.6584 - accuracy: 0.6007 - val_loss: 0.6923 - val_accuracy: 0.5534
Epoch 84/100
29/29 - 0s - loss: 0.6589 - accuracy: 0.5977 - val_loss: 0.6926 - val_accuracy: 0.5547
Epoch 85/100
29/29 - 0s - loss: 0.6585 - accuracy: 0.5992 - val_loss: 0.6934 - val_accuracy: 0.5558
Epoch 86/100
29/29 - 0s - loss: 0.6580 - accuracy: 0.6001 - val_loss: 0.6926 - val_accuracy: 0.5531
Epoch 87/100
29/29 - 0s - loss: 0.6576 - accuracy: 0.6005 - val_loss: 0.6934 - val_accuracy: 0.5515
Epoch 88/100
29/29 - 0s - loss: 0.6572 - accuracy: 0.6038 - val_loss: 0.6944 - val_accuracy: 0.5520
Epoch 89/100
29/29 - 0s - loss: 0.6569 - accuracy: 0.6010 - val_loss: 0.6944 - val_accuracy: 0.5534
Epoch 90/100
29/29 - 0s - loss: 0.6568 - accuracy: 0.6001 - val_loss: 0.6945 - val_accuracy: 0.5517
Epoch 91/100
29/29 - 0s - loss: 0.6563 - accuracy: 0.6022 - val_loss: 0.6952 - val_accuracy: 0.5528
Epoch 92/100
29/29 - 0s - loss: 0.6556 - accuracy: 0.6040 - val_loss: 0.6960 - val_accuracy: 0.5561
Epoch 93/100
29/29 - 0s - loss: 0.6558 - accuracy: 0.6006 - val_loss: 0.6961 - val_accuracy: 0.5536
Epoch 94/100
29/29 - 0s - loss: 0.6552 - accuracy: 0.5995 - val_loss: 0.6962 - val_accuracy: 0.5558
Epoch 95/100
29/29 - 0s - loss: 0.6549 - accuracy: 0.6009 - val_loss: 0.6974 - val_accuracy: 0.5574
Epoch 96/100
29/29 - 0s - loss: 0.6544 - accuracy: 0.6025 - val_loss: 0.6960 - val_accuracy: 0.5577
Epoch 97/100
29/29 - 0s - loss: 0.6542 - accuracy: 0.6056 - val_loss: 0.6984 - val_accuracy: 0.5577
Epoch 98/100
29/29 - 0s - loss: 0.6541 - accuracy: 0.6063 - val_loss: 0.6992 - val_accuracy: 0.5574
Epoch 99/100
29/29 - 0s - loss: 0.6539 - accuracy: 0.6051 - val_loss: 0.7001 - val_accuracy: 0.5604
Epoch 100/100
29/29 - 0s - loss: 0.6534 - accuracy: 0.6062 - val_loss: 0.6997 - val_accuracy: 0.5596

In [42]:
_, accuracy = model.evaluate(t_x_test, t_y_test)
print('Accuracy: %.2f %%' % (accuracy*100))

116/116 [==============================] - 0s 3ms/step - loss: 0.6997 - accuracy: 0.5596
Accuracy: 55.96 %